Connected Services/WCFRenaultService/RenaultService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAMIDEX.DTO.Argus" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAMIDEX.DTO.Argus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArgusPrixDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArgusPrixDTO" nillable="true" type="tns:ArgusPrixDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArgusPrixDTO" nillable="true" type="tns:ArrayOfArgusPrixDTO" />
  <xs:complexType name="ArgusPrixDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnneeModele" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrixNeufHT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrixNeufTTC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SegmentLibelle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArgusPrixDTO" nillable="true" type="tns:ArgusPrixDTO" />
  <xs:complexType name="Base">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnneeProduction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Base" nillable="true" type="tns:Base" />
</xs:schema>